.masthead {
  /*height: 100vh;
  min-height: 500px;
  background-image: url('img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding:220px 0 200px;*/
  position: relative;
  background: url(img.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding:220px 0 200px;
}

#sticky-footer {
  flex-shrink: none;
}


.item.social > a{
	 font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}


.item.social > a:hover {
  opacity:0.9;
}
.main h2{
  margin: 0;
  padding: 0;
  font-size: 2.6em;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
}

.main p{
  margin-top: 1em; 
  padding: 0; 
  font-size: 1em;
  color: #FFFFFF;
}